<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />



<%= link_to "New Sheet", new_sheet_path, class: "btn btn-primary" %>
<br />
<br />


<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @sheets.each do |sheet| %>
         
         <tr>
            <td><%= sheet.name %></td>
            <td><%= link_to "Download sheet", sheet.attachment_url %></td>
            <td><%= button_to "Delete",  sheet, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{sheet.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>
<table id="representative">
  <tr>
    <th>uin</th>
    <th>name</th>
  </tr>
<% @representatives.each do |representative| %>
  <tr>
    <td><%= representative.uin %></td>
    <td><%= representative.name%></td>
  </tr>
<% end %>
